<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPU XELA :D - Catálogo de Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #000;
            color: #fff;
        }

        .navbar {
            background-color: #333;
        }

        .navbar-brand {
            font-weight: bold;
            font-size: 24px;
            color: #fff;
        }

        .card {
            background-color: #444;
            border: none;
            color: #fff;
        }

        .card-title {
            font-size: 18px;
            font-weight: bold;
        }

        .card-text {
            font-size: 16px;
        }

        .btn-primary {
            background-color: #ff5722;
            border: none;
        }

        .btn-primary:hover {
            background-color: #e64a19;
        }

        .modal-content {
            background-color: #222;
            color: #fff;
        }

        .modal-header {
            border-bottom: 1px solid #444;
        }

        .section-title {
            font-size: 28px;
            font-weight: bold;
            margin-top: 40px;
            margin-bottom: 20px;
            text-align: center;
            color: #ff5722;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">COMPU XELA :D</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Menú <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="section-title">Laptops y Computadoras de escritorio</div>
        <div class="row">
            <!-- Producto 1 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://walmartgt.vtexassets.com/arquivos/ids/416418/Laptop-R3-HP-Ram-8Gb-Disco-512gb-SSD-Win11-Modelo-Fc0004-15-pulgadas-3-67481.jpg?v=638332509689630000" class="card-img-top" alt="Laptop 1">
                    <div class="card-body">
                        <h5 class="card-title">Laptop 1</h5>
                        <p class="card-text">Precio: Q4000.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal1">Ver detalles</a>
                    </div>
                </div>
            </div>
            <!-- Producto 2 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://media.wired.com/photos/64daad6b4a854832b16fd3bc/191:100/w_1280,c_limit/How-to-Choose-a-Laptop-August-2023-Gear.jpg" class="card-img-top" alt="Laptop 2">
                    <div class="card-body">
                        <h5 class="card-title">Laptop 2</h5>
                        <p class="card-text">Precio: Q4500.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal2">Ver detalles</a>
                    </div>
                </div>
            </div>
            <!-- Producto 3 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://www.almacenestropigas.com/media/catalog/product/1/_/1_12.jpg?optimize=medium&bg-color=255,255,255&fit=bounds&height=700&width=700&canvas=700:700" class="card-img-top" alt="Computadora de escritorio 1">
                    <div class="card-body">
                        <h5 class="card-title">Computadora de escritorio 1</h5>
                        <p class="card-text">Precio: Q5000.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal3">Ver detalles</a>
                    </div>
                </div>
            </div>
            <!-- Producto 4 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://www.multicopy.com.gt/web/image/251635/com.%20de%20escritorio.jpg?access_token=6c8a819e-bb2e-42cd-8cfd-889267facea9" class="card-img-top" alt="Computadora de escritorio 2">
                    <div class="card-body">
                        <h5 class="card-title">Computadora de escritorio 2</h5>
                        <p class="card-text">Precio: Q5500.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal4">Ver detalles</a>
                    </div>
                </div>
            </div>
            <!-- Producto 5 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://elektragt.vtexassets.com/arquivos/ids/193874-800-auto?v=638399096416730000&width=800&height=auto&aspect=true" class="card-img-top" alt="Laptop 3">
                    <div class="card-body">
                        <h5 class="card-title">Laptop 3</h5>
                        <p class="card-text">Precio: Q6000.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal5">Ver detalles</a>
                    </div>
                </div>
            </div>
            <!-- Producto 6 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://walmartgt.vtexassets.com/arquivos/ids/304732/Laptop-Lenovo-Ip-14-R3-8Gb-256Ssd-W10H-3-54274.jpg?v=638001814021630000" class="card-img-top" alt="Laptop 4">
                    <div class="card-body">
                        <h5 class="card-title">Laptop 4</h5>
                        <p class="card-text">Precio: Q6500.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal6">Ver detalles</a>
                    </div>
                </div>
            </div>
            <!-- Producto 7 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://electronicapanamericana.com/wp-content/uploads/22-DF1519LA-1030x1030.jpg" class="card-img-top" alt="Computadora de escritorio 3">
                    <div class="card-body">
                        <h5 class="card-title">Computadora de escritorio 3</h5>
                        <p class="card-text">Precio: Q7000.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal7">Ver detalles</a>
                    </div>
                </div>
            </div>
            <!-- Producto 8 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://m.media-amazon.com/images/I/61gyNhri9OL._AC_UF894,1000_QL80_.jpg" class="card-img-top" alt="Computadora de escritorio 4">
                    <div class="card-body">
                        <h5 class="card-title">Computadora de escritorio 4</h5>
                        <p class="card-text">Precio: Q7500.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal8">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-title">Consolas de Videojuegos y equipo gaming</div>
        <div class="row">
            <!-- Producto 1 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://www.radioshackla.com/media/catalog/product/4/6/463799600019_1.jpg?optimize=medium&bg-color=255,255,255&fit=bounds&height=700&width=700&canvas=700:700" class="card-img-top" alt="Consola 1">
                    <div class="card-body">
                        <h5 class="card-title">Consola 1</h5>
                        <p class="card-text">Precio: Q2000.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal9">Ver detalles</a>
                    </div>
                </div>
            </div>
            <!-- Producto 2 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://i.ebayimg.com/thumbs/images/g/aF4AAOSwSTBkIXVx/s-l1200.jpg" class="card-img-top" alt="Consola 2">
                    <div class="card-body">
                        <h5 class="card-title">Consola 2</h5>
                        <p class="card-text">Precio: Q2500.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal10">Ver detalles</a>
                    </div>
                </div>
            </div>
            <!-- Producto 3 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://imagenes.muyinteresante.com/files/vertical_composte_image/uploads/2023/10/31/6540b9af38547.png" class="card-img-top" alt="Consola

 3">
                    <div class="card-body">
                        <h5 class="card-title">Consola 3</h5>
                        <p class="card-text">Precio: Q3000.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal11">Ver detalles</a>
                    </div>
                </div>
            </div>
            <!-- Producto 4 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://phantom-marca-mx.unidadeditorial.es/acd785ffdeb8619638e301c51e99bdf1/resize/1200/f/jpg/mx/assets/multimedia/imagenes/2023/08/24/16928967299523.jpg" class="card-img-top" alt="Consola 4">
                    <div class="card-body">
                        <h5 class="card-title">Consola 4</h5>
                        <p class="card-text">Precio: Q3500.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal12">Ver detalles</a>
                    </div>
                </div>
            </div>
            <!-- Producto 5 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://i.blogs.es/ed843e/superpc-ap/450_1000.jpeg" class="card-img-top" alt="Equipo gaming 1">
                    <div class="card-body">
                        <h5 class="card-title">Equipo gaming 1</h5>
                        <p class="card-text">Precio: Q1500.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal13">Ver detalles</a>
                    </div>
                </div>
            </div>
            <!-- Producto 6 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://cdn.kemik.gt/2022/12/PGR7VNS4W-01-NSX-PC-GAMING-1200X1200-1.-500x500.jpg" class="card-img-top" alt="Equipo gaming 2">
                    <div class="card-body">
                        <h5 class="card-title">Equipo gaming 2</h5>
                        <p class="card-text">Precio: Q2000.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal14">Ver detalles</a>
                    </div>
                </div>
            </div>
            <!-- Producto 7 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://img.pccomponentes.com/pcblog/2661/confi-pccom2-opt.jpg" class="card-img-top" alt="Equipo gaming 3">
                    <div class="card-body">
                        <h5 class="card-title">Equipo gaming 3</h5>
                        <p class="card-text">Precio: Q2500.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal15">Ver detalles</a>
                    </div>
                </div>
            </div>
            <!-- Producto 8 -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="https://www.mundodeportivo.com/alfabeta/hero/2022/07/Torre-Corsair.jpg?width=768&aspect_ratio=16:9&format=nowebp" class="card-img-top" alt="Equipo gaming 4">
                    <div class="card-body">
                        <h5 class="card-title">Equipo gaming 4</h5>
                        <p class="card-text">Precio: Q3000.00</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal16">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Templates (16 in total, here are just 2 as examples) -->
    <!-- Product Modal 1 -->
    <div class="modal fade" id="productModal1" tabindex="-1" aria-labelledby="productModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel1">Detalles de Laptop 1</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Laptop R3 HP Ram 8Gb Disco 512gb SSD Win11 Modelo Fc0004 15 pulgadas</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal 2 -->
    <div class="modal fade" id="productModal2" tabindex="-1" aria-labelledby="productModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel2">Detalles de Laptop 2</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Laptop Buying Guide (2023): How to Choose the Right PC (Step-by-Step Guide) WIRED</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Repeat modal templates for products 3 to 16 similarly -->
    <!-- Product Modal 3 -->
    <div class="modal fade" id="productModal3" tabindex="-1" aria-labelledby="productModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel3">Detalles de Computadora de escritorio 1</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Computadora de escritorio HP 8 GB 256 GB 21.5" Negro 22DD0543LA</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal 4 -->
    <div class="modal fade" id="productModal4" tabindex="-1" aria-labelledby="productModalLabel4" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel4">Detalles de Computadora de escritorio 2</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Mejora tu productividad y entretenimiento con una computadora de escritorio.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal 5 -->
    <div class="modal fade" id="productModal5" tabindex="-1" aria-labelledby="productModalLabel5" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel5">Detalles de Laptop 3</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Laptop HP 14" 14-DQ0519LA Celeron de 4GB Ram 128GB SSD</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal 6 -->
    <div class="modal fade" id="productModal6" tabindex="-1" aria-labelledby="productModalLabel6" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel6">Detalles de Laptop 4</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Laptop Marca Lenovo Ideapad 3 82KT00BQCL AMD Ryzen 3 5300U 8GB RAM 256 GB SSSD, Pantlla 14 Pulgadas</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal 7 -->
   

 <div class="modal fade" id="productModal7" tabindex="-1" aria-labelledby="productModalLabel7" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel7">Detalles de Computadora de escritorio 3</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Computadora de escritorio HP | All in One i3-1115G4, 8Gb 256Gb SSD W11h | 22-DF1519LA.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal 8 -->
    <div class="modal fade" id="productModal8" tabindex="-1" aria-labelledby="productModalLabel8" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel8">Detalles de Computadora de escritorio 4</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Aprendizaje Pantalla IPS 0f en el hogar y electrónica</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal 9 -->
    <div class="modal fade" id="productModal9" tabindex="-1" aria-labelledby="productModalLabel9" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel9">Detalles de Consola 1</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Consola de videojuegos con múltiples juegos preinstalados.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal 10 -->
    <div class="modal fade" id="productModal10" tabindex="-1" aria-labelledby="productModalLabel10" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel10">Detalles de Consola 2</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Consola de videojuegos de última generación con excelente rendimiento.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal 11 -->
    <div class="modal fade" id="productModal11" tabindex="-1" aria-labelledby="productModalLabel11" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel11">Detalles de Consola 3</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Consola con diseño elegante y una amplia biblioteca de juegos.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal 12 -->
    <div class="modal fade" id="productModal12" tabindex="-1" aria-labelledby="productModalLabel12" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel12">Detalles de Consola 4</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Consola de videojuegos con capacidades de realidad virtual.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Repeat modal templates for products 13 to 16 similarly -->
    <!-- Product Modal 13 -->
    <div class="modal fade" id="productModal13" tabindex="-1" aria-labelledby="productModalLabel13" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel13">Detalles de Equipo gaming 1</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Este es el PC más potente que podemos montar.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal 14 -->
    <div class="modal fade" id="productModal14" tabindex="-1" aria-labelledby="productModalLabel14" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel14">Detalles de Equipo gaming 2</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>NSX Computadora Gaming AMD Ryzen 7 5700X 16GB RAM + 480GB SSD + RTX 3070 TI 8GB Windows 11 Home</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal 15 -->
    <div class="modal fade" id="productModal15" tabindex="-1" aria-labelledby="productModalLabel15" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel15">Detalles de Equipo gaming 3</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Este equipo está potenciado por 6 núcleos y 12 hilos que dan vida al procesador AMD Ryzen 5 5600X.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal 16 -->
    <div class="modal fade" id="productModal16" tabindex="-1" aria-labelledby="productModalLabel16" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel16">Detalles de Equipo gaming 4</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Qué tener en cuenta a la hora de comprar un PC gaming.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts necesarios para el funcionamiento de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

                